.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: rgba(73,96,166,255);
}

.gameBox{ /* 20x19 */
  height: 400px;
  width: 380px;
  border: solid red;
  display: flex;
  flex-wrap: wrap;
}

.gameBox div{
  width: 20px;
  height: 20px;
}

.playerUn{
  background-color: aquamarine;
}



.nondescriptLifeform {
  background-color: darkorchid;
  border-radius: 50em;
}

.pewpew{
  background-color: red;
}

.death{
  background-color: black;
}

.screen {
  width: 400px;
  height: 380px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.score, .scoreNum{
  display: inline-block;
}

header{
  display: flex;
  justify-content: center;
  background-color: rgba(73,96,166,255);
}

img{
  height: 321px;
}