.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: rgba(73,96,166,255);
  font-family: 'Roboto', sans-serif;
}

.gameBox{ /* 20x19 */
  height: 400px;
  width: 380px;
  border: solid #f0aa84;
  display: flex;
  flex-wrap: wrap;
}

.gameBox div{
  width: 20px;
  height: 20px;
}

.playerUn{
  background-color: #84f0aa;
}

.nondescriptLifeform {
  background-color: #aa84f0;
  border-radius: 50%;
}

.pewpew{
  background-color: red;
}

.enemypewpew{
  background-color: #e084f0;
}

.death{
  background-color: black;
}

.screen {
  height: 400px;
  width: 380px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

button{
  font-size: 16px;
}

.score, .scoreNum{
  display: inline-block;
  color: rgba(246,175,132,255);
}

header{
  display: flex;
  height: 280px;
  justify-content: center;
  background-color: rgba(73,96,166,255);
}

img{
  height: 321px;
}

kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

.instructions{
  height: 70px;
}

.alert{
  display:none;
}


@media (max-width: 1024px) {
  .container{
    display: none;
  }
  .alert{
    display: flex;
    font-size: 55px;
  }
  body{
    background-color: red;
    color: black;
  }
}